#m_section1{
	background: linear-gradient( rgba(255,255,255,.8), rgba(255,255,255,.1)), url("../assets/coins.jpeg") no-repeat fixed;
	background-size: cover;
   padding-top: 3vw;

	height: 15vw;
	overflow: hidden;

	display: flex;
	flex-direction: row;
	justify-content: center;

}

#moreInfoSec3{
	height: 120vw;
	margin-bottom: 1vw;
}


#happy{
	height: 22vw;
}

#clock{
	height: 20vw;
}

#grandkids{
	height: 22vw;
}


/* -------------------------------------------------------------------------- */
/*                           mobile version below                             */
/* -------------------------------------------------------------------------- */

@media (orientation: portrait) {
	#m_section1{
		background: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,.7)), url("../assets/coins.jpeg") no-repeat fixed;
		background-size: 100vw auto;
	   	padding-top: 12vw;

		height: 30vw;
		overflow: hidden;

		display: flex;
		flex-direction: row;
		justify-content: center;

	}

	#flipForMobile{
		flex-direction: column-reverse;
	}

	#moreInfoSec3{
		height: 775vw;
		margin-bottom: 4vw;
		margin-top: 4vw;
	}

	#happy{
		width: 100%;
		height: auto;
	}

	#clock{
		width: 100%;
		height: auto;
	}

	#grandkids{
		width: 100%;
		height: auto;
	}
}



