@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

body{
/*	background-color: skyblue;*/
	width: 100%;
	margin: 0;


	overflow-x: hidden;
	 /*so theres no extra white space to the right that you can scroll to*/

	font-family: 'Be Vietnam Pro', sans-serif;

	cursor: default;
}

/*nav bar*/
#header_bar{
   background-color: black;
   width: 100vw;
/*   height: 3vw;*/
   position: fixed; 
   /*stay as you scroll*/
   z-index: 100; 
   /*above everything*/
}

#header{
/*	background-color: red;*/
	height: 3vw;

	display: flex;
	flex-direction: row;
	align-items: center;

}

	#title{
		text-decoration: none;
		color: white;
		font-size: 1.3vw;
		padding-left: 1vw;
		font-family: 'Merriweather', serif;
	}

	#buttons{

/*		background-color: pink;*/
		height: 100%;
		width: 32vw;

		justify-self: right;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-evenly;

		color: white;
		font-size: .8vw;
	}

		.menuButton{
			height: 100%;
			display: flex;
			align-items: center;
			padding-left: 1vw;
			padding-right: 1vw;
			text-decoration: none;
			color: white;
		}

		#buttons a:hover{
			color: black;
			background-color: white;
			cursor: pointer;
		}
		#buttons img{
			display: none;
		}

#mobile_menu{
	display:none;
}

/*section 1 - house pic*/
#section1{
	background: linear-gradient(rgba(255,255,255,.1), rgba(255,255,255,.9)), url("../assets/house2.jpeg") no-repeat fixed;
	background-size: cover;
   padding-top: 3vw;

	height: 20vw;
	overflow: hidden;

	display: flex;
	flex-direction: row;
	justify-content: center;

}

	#intro{
/*				background-color: deeppink;*/

		font-family: 'Merriweather', serif;
		font-weight: bold;
		font-size: 2.8vw;

		width: 50vw;

		text-align: center;
		display: flex;
		align-items: center;
		justify-content: center;


	}


/*section 2 (aka section 3 header)*/

#section2{
	background-color: #cddba0;
	width: 100vw;
	height: 5vw;

	display: flex;
	align-items: center;
	justify-content: center;
}
	#section2 h1{
/*		background-color: red;*/
		padding-left: 17vw;
		padding-right: 17vw;
		width: 66vw;
	}



/*section 3 (explanation of hecm)*/
.section3{
/*	background-color: pink;*/
	height: 98vw;
/*	width: 100%;*/
	padding-left: 17vw;
	padding-right: 17vw;

	padding-top: 2.5vw;
	padding-bottom: 2.5vw;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
/*	align-items: center;*/

	font-size: 1.2vw;
	line-height: 1.6;

}
	h1{
/*		background-color: hotpink;*/
		margin: 0;
		font-size: 1.7vw;
		font-weight: bold;
		font-family: 'Merriweather', serif;
		padding-top: 1vw;
		padding-bottom: 1vw;
	}

	.photoText {
/*		background-color: yellowgreen;*/
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}

		.photoText img{
			margin-top: 2vw;
			margin-bottom: 2vw;
		}

		.photoTextGap{
			background-color: red;
			width: 7vw;
		}

		#growth{
			height: 20vw;
			width: 30vw;
		}

		#key{
			height: 20vw;
		}

	#more_button{
			align-self: center;

			margin-top: 3vw;
			margin-bottom: 1vw;

			background-color: black;
			height: 3vw;
			width: 10vw;
			border: black solid 4px;
			font-size: 1vw;

			display: flex;
			justify-content: center;
			align-items: center;
			
	}
	#more_button a{
		text-decoration: none;
		color: white;
	}
	#more_button:hover a{
		color: black;
	}
	#more_button:hover{
		background-color: white;
	}


/*section 5 (contact me - moved to be above section 4)*/
#contact_me{
/*	background-color: rgba(1, 0, 0, .5);*/
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 0;
	height: 25vw;
	overflow: hidden;
}

	#cactus{
/*		opacity: .5;*/
		width: 100vw;
/*		height: auto;*/
/*		margin-left: -82vw;*/
		margin-top: -9vw;
		z-index: -10;
	}
	#contact{
/*		background-color: hotpink;*/
		width: 43vw;
		height: 15vw;
		margin-left: -63vw;

		display: flex;
		flex-direction: column;
		justify-content: space-around;

		padding-left: 2.5vw;
		padding-right: 2.5vw;

		text-align: right;

		font-size: 1.3vw;
/*		line-height: 1.6;*/
	}




#about_me_box{
/*	background-color: orange;*/
	padding: 2.5vw 17vw;
	height: 25vw;

	display: flex;
	flex-direction: column;
	justify-content: space-between;

	font-size: 1.2vw;
	line-height: 1.6;
}

	#about_me_box h1{
/*		background-color: green;*/
		padding:0;
	}

	#dad{
		height: 20vw;
	}



footer{
	text-align: center;
	padding-top: 2vw;
	padding-bottom: 2vw;
}



/* -------------------------------------------------------------------------- */
/*                           mobile version below                             */
/* -------------------------------------------------------------------------- */

@media (orientation: portrait) {

	body{
/*		background-color: red;*/
	}

	#header{
/*		background-color: red;*/
		height: 12vw;
		padding-left: 8vw;
		padding-right: 8vw;
		justify-content: space-between;
	}
		#title{
			font-size: 4vw;
		}
		#buttons{
/*			background-color: red;*/
			justify-content: flex-end;

		}
		#buttons a{
			display: none;
		}
		#buttons div{
			display: none;
		}
		#buttons img{
			display: block;
			height: 10vw;
		}

	#mobile_menu{
		display:none;
		width: 100vw;
		height: 35vw;
		background-color: black;
		position: fixed; /*stay as you scroll*/
		z-index: 100; /*above everything*/
		margin-top: 12vw;
		flex-direction: column;
	}
		.menuButton{
			font-size: 4vw;
			justify-content: center;

		}
		#mobile_menu a:hover{
			color: black;
			background-color: white;
			cursor: pointer;
		}

	#section1{
		padding-top: 12vw;
		background: linear-gradient(rgba(255,255,255,.1), rgba(255,255,255,.9)), url("../assets/house2.jpeg") no-repeat fixed;
		height: 30vw;
	}
		#intro{
/*			background-color: pink;*/
			width: 80vw;
			font-size: 4.7vw;
		}

	#section2{
		height: 8vw;

	}

		#section2 h1{
			font-size: 4vw;
/*			background-color: red;*/
		}

	.section3{
		padding-right: 10vw;
		padding-left: 10vw;

/*		background-color: pink;*/
		height: 410vw;

		font-size: 3vw;
		line-height: 1.6;
	}
		h1{
			font-size: 4vw;
		}

		.photoText{
			flex-direction: column;
		}
/*
		.photoText img{
			width: 100%;
			height: auto;
		}*/


		#growth{
			width: 100%;
			height: auto;
		}
		#key{
			width: 100%;
			height: auto;
		}

		#more_button{
/*			margin-top: 3vw;
			margin-bottom: 1vw;*/

			height: 6vw;
			width: 30vw;
			font-size: 3.5vw;
			padding: 1vw;

			
		}

	#contact_me{
/*		display: flex;
		flex-direction: row;
		align-items: center;
		margin: 0;*/
		height: 37vw;
		margin-bottom: 5vw;
	}
		#cactus{
/*			width: 100vw;
			height: auto;
			margin-left: -90vw;
			z-index: -10;
			opacity: .55;*/
		}
		#contact{
/*			background-color: hotpink;*/

			width: 60vw;
			margin-left: -72vw;

			font-size: 3vw;
			height: 25vw;

		}






#about_me_box{
/*	background-color: red;*/
	height: 120vw;
	width:80vw;

	font-size: 3vw;

	margin-bottom: 10vw;

	padding-left:10vw;


	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: left;
}
	#about_me_box h1{
/*		background-color: green;*/
		padding:0;
	}

	#dad{
		width: 40vw;
		height: auto;
		align-self: flex-start;
		margin-top: 5vw;
		margin-bottom: 5vw;
	}


	.anchor{
		position: absolute;
/*		background-color: red;*/
		height: 1vw;
		width: 1vw;
	}
	#contact_anchor{
		margin-top: 185vw;
	}

	footer{
		font-size: 2vw;
	}


}
