@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

body{
/*	background-color: skyblue;*/
	width: 100%;
	margin: 0;


	overflow-x: hidden;
	 /*so theres no extra white space to the right that you can scroll to*/

	font-family: 'Be Vietnam Pro', sans-serif;

	cursor: default;
}

/*nav bar*/
#header_bar{
   background-color: black;
   width: 100%;
   height: 3vw;
   position: fixed; 
   /*stay as you scroll*/
   z-index: 100; 
   /*above everything*/
}

#header{
/*	background-color: red;*/
	height: 3vw;
	width: 100vw;
	display: flex;
	flex-direction: row;
	align-items: center;
/*	justify-content: space-between;*/
}

	#title{
		color: white;
		font-size: 1.2vw;
		padding-left: 1vw;
		font-family: 'Merriweather', serif;
	}

	#buttons{

/*		background-color: pink;*/
		height: 100%;
		width: 32vw;

		justify-self: right;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-evenly;

		color: white;
		font-size: .8vw;
	}

		.menuButton{
			height: 100%;
			display: flex;
			align-items: center;
			padding-left: 1vw;
			padding-right: 1vw;
			text-decoration: none;
			color: white;
		}

		#buttons a:hover{
			color: black;
			background-color: white;
			cursor: pointer;
		}
		#buttons img{
			display: none;
		}

#mobile_menu{
	display:none;
}

/*section 1 - house pic*/
#section1{
/*	background-color: rgba(0, 1, 0, .5);*/
    padding-top: 3vw;

	height: 20vw;
	overflow: hidden;

	display: flex;
	flex-direction: row;

}

	#intro{
/*				background-color: deeppink;*/

		font-family: 'Merriweather', serif;
		font-weight: bold;
		font-size: 2.7vw;

		width: 65vw;

		z-index: 10; /*above house image*/

		text-align: center;
		display: flex;
		align-items: center;

		margin-left: 16vw;
	}
	#house{

/*		background-color: blue;*/
		width: 100vw;

		z-index: -10; /*under text*/

		margin-left: -35vw;

	}

/*section 2 (aka section 3 header)*/

#section2{
	background-color: #cddba0;
	width: 100vw;
	height: 7vw;

	display: flex;
	align-items: center;
	justify-content: center;
}
	#section2 h1{
/*		background-color: red;*/
		text-align: center;
		padding-left: 17vw;
		padding-right: 17vw;
		width: 66vw;
	}
	.subheading{
		font-size: 1.7vw;
		font-weight: bold;
		font-family: 'Merriweather', serif;
	}



/*section 3 (explanation of hecm)*/
#section3{
/*	background-color: pink;*/
	height: 100vw;
	width: 100vw;
	padding-top: 2.5vw;
	padding-bottom: 2.5vw;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

}

#section3_0{
/*	background-color: cyan;*/
	width: 66vw;

}

.expl{
/*	background-color: greenyellow;*/
	font-size: 1.2vw;
	line-height: 1.6;
}

/*section 3.1 (image to the left of more explanation text)*/
#section3_1{
	width: 66vw;
/*	background-color: deeppink;*/

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

}
	#growth{
		height: 20vw;
		width: 30vw;
	}
	#explanation2{
/*		background-color: red;*/
		height: 20vw;
		width: 30vw;
/*		margin-left: 5vw;*/
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;

	}

/*section 3.2 the explantion continues under the photo*/
#section3_2{
/*	background-color: red;*/
	width: 66vw;


	height: 9.5vw;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

}
#section3_3{
/*	background-color: yellow;*/
	width: 66vw;

	height: 24.5vw;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

}
#list{
/*	background-color: pink;*/
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 20vw;
}

/*key photo and text*/
#section3_4{
	width: 66vw;

/*	background-color: hotpink;*/

	display: flex;
	flex-direction: row;
	justify-content: space-between;
/*	padding-bottom: 2.5vw;*/


}
	#key{
		height: 20vw;
	}
	#explanation3{
/*		background-color: red;*/
		height: 20vw;
		width: 30vw;

		display: flex;
		flex-direction: column;
		justify-content: space-evenly;

	}
#section3_5{
/*	background-color: lime;*/
	width:66vw;
}

/*section 4 (about me)*/
#section4{
/*	background-color: thistle;*/
	width: 66vw;
	height: 29vw;

	padding-left: 17vw;
	padding-right: 17vw;

	padding-bottom: 2.5vw;
	padding-top: 2.5vw;


	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
	#about_me_box{
/*		background-color: orange;*/
		width: 66vw;
		height: 40vw;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: left;
	}

	.subsection_header{
		font-family: 'Merriweather', serif;
	    font-size: 2vw;
		font-weight: bold;
	}
	#about_me_content{
/*		background-color: red;*/
		height: 25vw;


		display: flex;
		flex-direction: row;
		justify-content: space-between;
/*		align-items: center;*/
	}
	#about_me{
/*		background-color: green;*/
		width: 40vw;
	}
	#dad{
		margin-top: .5vw;
		height: 20vw;
	}

/*section 5 (contact me - moved to be above section 4)*/
#section5{
/*	background-color: rgba(1, 0, 0, .5);*/
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 0;
	height: 25vw;
	overflow: hidden;
}
	#cactus{
/*		opacity: .5;*/
		width: 100vw;
/*		height: auto;*/
/*		margin-left: -82vw;*/
		margin-top: -9vw;
		z-index: -10;
	}
	#contact{
/*		background-color: hotpink;*/
		width: 43vw;
		height: 15vw;
		margin-left: -63vw;

		display: flex;
		flex-direction: column;
		justify-content: space-around;

		padding-left: 2.5vw;
		padding-right: 2.5vw;

		text-align: right;

		font-size: 1.5vw;
/*		line-height: 1.6;*/
	}

footer{
	text-align: center;
	padding-bottom: 2vw;
}



/* -------------------------------------------------------------------------- */
/*                           mobile version below                             */
/* -------------------------------------------------------------------------- */

@media (orientation: portrait) {

	body{
		/*background-color: red;*/
	}

	#header{
		height: 15vw;
		padding-left: 10vw;
		padding-right: 10vw;
		width: 80vw;
	}
		#title{
			font-size: 4vw;
		}
		#buttons{
			/*background-color: red;*/
			justify-content: flex-end;

		}
		#buttons a{
			display: none;
		}
		#buttons div{
			display: none;
		}
		#buttons img{
			display: block;
			height: 10vw;
		}

	#mobile_menu{
		display:none;
		width: 100vw;
		height: 35vw;
		background-color: black;
		position: fixed; /*stay as you scroll*/
		z-index: 100; /*above everything*/
		margin-top: 15vw;
		flex-direction: column;
	}
		.menuButton{
			font-size: 4vw;
			justify-content: center;

		}
		#mobile_menu a:hover{
			color: black;
			background-color: white;
			cursor: pointer;
		}

	#section1{
		margin-top: 15vw;
	}
		#intro{
			/*background-color: pink;*/
			width: 80vw;
			margin-left: 10vw;
			font-size: 5vw;
			/*font-weight: bolder;*/
		}
		#house{
			/*background-color: blue;*/
			height: 100%;
			width: auto;

			z-index: -10; /*under text*/

			margin-left: -70vw;

			opacity: .65;
		}
	#section2{
		height: 40vw;
	}

		#section2 h1{
			font-size: 7.5vw;
			/*font-weight: bolder;*/
			padding-left: 10vw;
			padding-right: 10vw;
		}

	#section3{
		padding-right: 10vw;
		padding-left: 10vw;
	}
		#explanation{
			/*background-color: skyblue;*/
			width: 80vw;
		}
		.expl{
			font-size: 4vw;

		}
	#section3_1{
		/*background-color: hotpink;*/

		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding-bottom: 7vw;
/*		padding-right: 10vw;
		padding-left: 10vw;*/

	}
		#growth{
			height: 60vw;
			width: 80vw;
		}
		#explanation2{
			width: 80vw;
			margin-top: 5vw;

		}

	#section5{
/*		display: flex;
		flex-direction: row;
		align-items: center;
		margin: 0;*/
		height: 37vw;
		margin-bottom: 5vw;
	}
		#cactus{
			width: 100vw;
			height: auto;
			margin-left: -90vw;
			z-index: -10;
			opacity: .55;
		}
		#contact{
			/*background-color: hotpink;*/
			width: 80vw;
			height: 37vw;
			margin-left: 10vw;

			display: flex;
			flex-direction: column;
			justify-content: space-between;

			text-align: right;
			padding-top: 2vw;
		}
			#contactInfo{
				font-size: 4vw;
				line-height: 1.6;
			}

			#contact p{
				font-size: 3.5vw;
				line-height: 1.6;
				font-weight: bolder;
			}


	#section4{
		/*background-color: thistle;*/
		width: 80vw;
		height: 90vw;

		padding-left: 10vw;
		padding-right: 10vw;

		padding-bottom: 5vw;


		display: flex;
		flex-direction: column-reverse;
		align-items: flex-start;
		justify-content: space-evenly;
	}
		#about_me_text{
			/*background-color: red;*/
			height: 40vw;

			display: flex;
			flex-direction: column;
			justify-content: space-around;
		}
			.subheader{
				font-size: 5.5vw;
				font-weight: bolder;
			}
		#dad{
			height: 40vw;
		}


	.anchor{
		position: absolute;
		/*background-color: red;*/
		height: 1vw;
		width: 1vw;
	}
	#contact_anchor{
		/*15vw for menu + 45vw for section1 + 40vw for section2 + estimate of section3 (120vw) + growth image 80vw + estimate of explantion2 (10vw) - 15vw for menu to overlap*/
		margin-top: 335vw;
	}
	#explanation_anchor{
		/*15vw for menu + 45vw for section1 - 15vw for menu to overlap*/
		margin-top: 45vw;
	}

}
